@model CarDealership.UI.Models.SalesInfoVM
@{
	ViewBag.Title = "Index";
}

@section SalesScripts {
	<script src="~/Scripts/JS for Views/Sales_Index.js"></script>
}


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 align="center" style="font-size:50px">Sales</h1>
		</div>
	</div>
	<div class="row" align="center" id="searchBarSection">
		<div class="col-md-12" style="border: 2px solid black">
			<div align="left">
				<h3>Quick Search</h3>
			</div>
			<div class="col-md-4">
				<input type="text" id="inputForSalesSearch" placeholder="Enter make, model, or year" />
			</div>
			<div class="col-md-4">
				Price
				<select id="minPriceDropList">
					<option value="0" selected="selected">No Min </option>
					<option value="5000">$5,000</option>
					<option value="10000">$10,000</option>
					<option value="15000">$15,000</option>
					<option value="20000">$20,000</option>
					<option value="25000">$25,000</option>
					<option value="30000">$30,000</option>
					<option value="35000">$35,000</option>
					<option value="40000">$40,000</option>
					<option value="45000">$45,000</option>
					<option value="50000">$50,000</option>
					<option value="55000">$55,000</option>
					<option value="60000">$60,000</option>
					<option value="65000">$65,000</option>
					<option value="70000">$70,000</option>
					<option value="75000">$75,000</option>
					<option value="80000">$80,000</option>
				</select>
				<select id="maxPriceDropList">
					<option value="999999999" selected="selected">No Max </option>
					<option value="5000">$5,000</option>
					<option value="10000">$10,000</option>
					<option value="15000">$15,000</option>
					<option value="20000">$20,000</option>
					<option value="25000">$25,000</option>
					<option value="30000">$30,000</option>
					<option value="35000">$35,000</option>
					<option value="40000">$40,000</option>
					<option value="45000">$45,000</option>
					<option value="50000">$50,000</option>
					<option value="55000">$55,000</option>
					<option value="60000">$60,000</option>
					<option value="65000">$65,000</option>
					<option value="70000">$70,000</option>
					<option value="75000">$75,000</option>
					<option value="80000">$80,000</option>
				</select>
			</div>
			<div class="col-md-4">
				Year
				<select id="minYearDropList">
					<option value="1001" selected="selected">No Min </option>
					<option value="1990">1990</option>
					<option value="1991">1991</option>
					<option value="1992">1992</option>
					<option value="1993">1993</option>
					<option value="1994">1994</option>
					<option value="1995">1995</option>
					<option value="1996">1996</option>
					<option value="1997">1997</option>
					<option value="1998">1998</option>
					<option value="1999">1999</option>
					<option value="2000">2000</option>
					<option value="2001">2001</option>
					<option value="2002">2002</option>
					<option value="2003">2003</option>
					<option value="2004">2004</option>
					<option value="2005">2005</option>
					<option value="2006">2006</option>
					<option value="2007">2007</option>
					<option value="2008">2008</option>
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
				</select>
				<select id="maxYearDropList">
					<option value="9999" selected="selected">No Max </option>
					<option value="1990">1990</option>
					<option value="1991">1991</option>
					<option value="1992">1992</option>
					<option value="1993">1993</option>
					<option value="1994">1994</option>
					<option value="1995">1995</option>
					<option value="1996">1996</option>
					<option value="1997">1997</option>
					<option value="1998">1998</option>
					<option value="1999">1999</option>
					<option value="2000">2000</option>
					<option value="2001">2001</option>
					<option value="2002">2002</option>
					<option value="2003">2003</option>
					<option value="2004">2004</option>
					<option value="2005">2005</option>
					<option value="2006">2006</option>
					<option value="2007">2007</option>
					<option value="2008">2008</option>
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
				</select>
			</div>
			<div class="col-md-12">
				<p> </p>
				<button class="btn btn-primary" id="searchSalesVehicles">Search</button>
			</div>
			<div class="col-md-12">
				<button class="btn btn-link" id="clearFilters">Clear Filters</button>

			</div>
			<br />
		</div>
	</div>
	<div class="row">
		<br />
		<div class="col-md-12">
			<h2 id="searchResultsHeading" style="display: none">Search Results</h2>
			<h2 id="purchaseVehicleHeading" style="display: none">Purchase Vehicle</h2>
		</div>
		<br />
	</div>
	<div id="singleVehicleDetails">
		@*single vehicle info here when details button is clicked*@
	</div>
	@*<div id="nonFilteredNewVehicles">
			all new vehicles go here
		</div>*@
	<div id="filteredSalesVehicles">
		@*all filtered new vehicles go here*@
	</div>
	<div id="salesInfoForm" style="display:none">
		@using (Html.BeginForm("Index", "Sales"))
		{
			<div class="col-md-12">
				<div class="row">
					<h2>Sales Information</h2><br />
				</div>
				<div class="row">
					<fieldset class="for-panel">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Name</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.CustomerName, new { @class = "form-control", @placeholder = "Name" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Phone</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.Phone, new { @class = "form-control", @placeholder = "Phone" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Email</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.Email, new { @class = "form-control", @placeholder = "Email" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Street 1</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.Address.Street1, new { @class = "form-control", @placeholder = "Street 1" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Street 2</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.Address.Street2, new { @class = "form-control", @placeholder = "Street 2" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>City</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.Address.City, new { @class = "form-control", @placeholder = "City" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>State</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Purchase.Customer.Address.State.StateId, Model.StateItems, "-Choose One-", new { @class = "form-control", @placeholder = "States" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Zipcode</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.Customer.Address.ZipCode, new { @class = "form-control", @placeholder = "Zipcode" })
										</p><br />
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-12">
									<hr />
								</div>

							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Purchase Price</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Purchase.PurchasePrice, new { @class = "form-control", @placeholder = "Purchase Price" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Purchase Type</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Purchase.PurchaseTypeId, Model.PurchaseTypeItems, "-Choose One-", new { @class = "form-control", @placeholder = "Purchase Type" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<button class="btn btn-primary" id="savePurchaseButton">Save</button>
										</p><br />
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		}
	</div>
</div>
@*<div class="col-md-6">
		<div class="panel-heading">
			<h4 class="panel-title">Sales Information</h4>
		</div>
		<div>
			<div class="form-group">
				<p>Phone</p>
				@Html.TextBoxFor(m => m.Purchase.Customer.Phone, new { @class = "form-control", @placeholder = "Phone" })
				<br />
			</div>
			<div class="form-group">
				<p>Street 2</p>
				@Html.TextBoxFor(m => m.Purchase.Customer.Address.Street2, new { @class = "form-control", @placeholder = "Street 2" })
				<br />
			</div>
			<div class="form-group">
				<p>State</p>
				@Html.DropDownListFor(m => m.Purchase.Customer.Address.State.StateId, Model.StateItems, "-Choose One-", new { @class = "form-control", @placeholder = "States" })
				<br />
			</div>
			<input type="submit" name="submit" value="Submit" class="btn btn-primary" />
		</div>
	</div>*@



