@model CarDealership.UI.Models.AddUserVM
@{
    ViewBag.Title = "AddUser";
}

<div class="container">
	<div>
		@using (Html.BeginForm("AddUser", "Admin"))
		{
			<div class="col-md-12">
				<div class="row">
					<h2>Add User</h2><br />
				</div>
				<div class="row">
					<fieldset class="for-panel">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>First Name</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", @placeholder = "First Name" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Last Name</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", @placeholder = "Last Name" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Email</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @placeholder = "Email" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Role</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.RoleName, Model.RoleItems, "-Choose One-", new { @class = "form-control", @placeholder = "Body Style" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Password</label>
										</p>
										<p>
											@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Confirm Password</label>
										</p>
										<p>
											@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<button class="btn btn-primary" id="savePurchaseButton">Save</button>
										</p><br />
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		}
	</div>
</div>


