@model CarDealership.UI.Models.AddVehicleVM
@{
    ViewBag.Title = "EditVehicle";
}

@section AddVehicleScripts {
	<script src="~/Scripts/JS for Views/Admin_AddVehicle.js"></script>
}
<div class="container">
	<div id="editFormSection">
		@using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditVehicleForm" }))
		{
			@Html.HiddenFor(m => m.Vehicle.VehicleId, new { @id = "vehicleId" })
			@Html.HiddenFor(m => m.Vehicle.PurchaseStatusId)
			<div class="col-md-12">
				<div class="row">
					<h2>Edit Vehicle</h2><br />
				</div>
				<div class="row">
					<fieldset class="for-panel">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Make</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleModel.VehicleMakeId, Model.MakeItems, "-Choose One-", new { @class = "form-control", @id = "makeDropdown", @placeholder = "Make" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Model</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleModelId, Model.ModelItems, "-Choose One-", new { @class = "form-control", @id = "modelDropdown", @placeholder = "Model" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Type</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleTypeId, Model.TypeItems, "-Choose One-", new { @class = "form-control", @placeholder = "Type" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Body Style</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleBodyId, Model.BodyStyleItems, "-Choose One-", new { @class = "form-control", @placeholder = "Body Style" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Year</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.Year, new { @class = "form-control", @placeholder = "Year" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Transmission</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.TransmissionId, Model.TransmissionItems, "-Choose One-", new { @class = "form-control", @placeholder = "Transmission" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Color</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleColor, Model.ColorItems, "-Choose One-", new { @class = "form-control", @placeholder = "Color" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Interior</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.InteriorColor, Model.InteriorItems, "-Choose One-", new { @class = "form-control", @placeholder = "Interior" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Mileage</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.Mileage, new { @class = "form-control", @placeholder = "Mileage" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>VIN</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.VinNumber, new { @class = "form-control", @placeholder = "VIN" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>MSRP</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.MSRPPrice, new { @class = "form-control", @placeholder = "MSRP" })
										</p><br />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Sale Price</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.SalePrice, new { @class = "form-control", @placeholder = "Sale Price" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-horizontal">
										<p>
											<label>Description</label>
										</p>
										<p>
											@Html.TextAreaFor(m => m.Vehicle.VehicleDescription, new { @class = "form-control", @placeholder = "Description" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Replace Picture</label>
										</p>
										<p>
											<input id="ImageUpload" name="ImageUpload" type="file" />
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
											<p>
												Feature this vehicle:
												@Html.CheckBoxFor(m => m.Vehicle.IsFeatured, new { @placeholder = "Is Featured" })
											</p>
										</div><br />
								
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<div class="row">
											<p>
												<a href="#" class="button" id="deleteVehicleButton">Delete</a>
												<button type="submit" class="btn btn-primary" id="saveEdittedVehicleButton">Save</button>
											</p><br />
										</div>
											
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		}
	</div>
	<div id="deleteVehicleSection" style="display:none">
		<div>
			<h1>Delete Vehicle</h1>
			<p>Are you sure you want to delete this vehicle?</p>
			<button id="deleteButton">Delete</button>
			<button id="cancelButton">Cancel</button>
		</div>
	</div>
</div>
