@model CarDealership.UI.Models.AddVehicleVM
@{
    ViewBag.Title = "EditVehicle";
}

<div class="container">
	<div>
		@using (Html.BeginForm("Index", "Sales"))
		{
			<div class="col-md-12">
				<div class="row">
					<h2>Edit Vehicle</h2><br />
				</div>
				<div class="row">
					<fieldset class="for-panel">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Make</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleModel.VehicleMakeId, Model.MakeItems, "-Choose One-", new { @class = "form-control", @placeholder = "Make" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Model</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleModelId, Model.ModelItems, "-Choose One-", new { @class = "form-control", @placeholder = "Model" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Type</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleTypeId, Model.TypeItems, "-Choose One-", new { @class = "form-control", @placeholder = "Type" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Body Style</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleBodyId, Model.BodyStyleItems, "-Choose One-", new { @class = "form-control", @placeholder = "Body Style" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Year</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.Year, new { @class = "form-control", @placeholder = "Year" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Transmission</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.TransmissionId, Model.TransmissionItems, "-Choose One-", new { @class = "form-control", @placeholder = "Transmission" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Color</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.VehicleColor, Model.ColorItems, "-Choose One-", new { @class = "form-control", @placeholder = "Color" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Interior</label>
										</p>
										<p>
											@Html.DropDownListFor(m => m.Vehicle.InteriorColor, Model.InteriorItems, "-Choose One-", new { @class = "form-control", @placeholder = "Interior" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Mileage</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.Mileage, new { @class = "form-control", @placeholder = "Mileage" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>VIN</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.VinNumber, new { @class = "form-control", @placeholder = "VIN" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>MSRP</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.MSRPPrice, new { @class = "form-control", @placeholder = "MSRP" })
										</p><br />
									</div>
								</div>
								<div class="col-md-offset-4">
									<div class="form-horizontal">
										<p>
											<label>Sale Price</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.SalePrice, new { @class = "form-control", @placeholder = "Sale Price" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-horizontal">
										<p>
											<label>Description</label>
										</p>
										<p>
											@Html.TextAreaFor(m => m.Vehicle.VehicleDescription, new { @class = "form-control", @placeholder = "Description" })
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Replace Picture</label>
										</p>
										<p>
											@Html.TextBoxFor(m => m.Vehicle.ImagePath, new { @class = "form-control", @placeholder = "Image Path" })
											<button class="btn btn-primary" id="uploadButton">Upload</button>


										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
											<p>
												Feature this vehicle:
												@Html.CheckBoxFor(m => m.Vehicle.IsFeatured, new { @class = "form-control", @placeholder = "Is Featured" })
											</p>
										</div><br />
								
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<button class="btn btn-primary" id="deleteVehicleButton">Delete</button>
											<button class="btn btn-primary" id="saveVehicleButton">Save</button>
										</p><br />
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		}
	</div>
</div>
