@model IEnumerable<CarDealership.Models.Vehicle>

@{
	ViewBag.Title = "Admin";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Admin</h2>
			<p>Make an action link that says "Add a new Vehicle" and brings to you a view for it</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Search Results</h2>
			@foreach (var vehicle in Model)
			{

				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<hr />

						<p>
							@vehicle.Year
							@vehicle.VehicleModel.VehicleMake.VehicleMakeDescription
							@vehicle.VehicleModel.VehicleModelDescription
						</p>
						<p>Picture Goes Here!</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<hr />

						<p>Body Style: @vehicle.VehicleBody.VehicleBodyDescription</p>
						<p>Trans: @vehicle.Transmission.TransmissionType</p>
						<p>Color: @vehicle.VehicleColor</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<hr />

						<p>Interior: @vehicle.InteriorColor</p>
						<p>Mileage: @vehicle.Mileage </p>
						<p>VIN #: @vehicle.VinNumber</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<hr />

						<p>Sale Price: @vehicle.SalePrice</p>
						<p>MSRP Price: @vehicle.MSRPPrice</p>
						<p><button class="btn btn-primary" id="adBtn">Details</button></p>
					</div>
				</div>

			}
		</div>
	</div>
</div>
<script src="~/Scripts/JS for Views/Home_Admin.js"></script>

