@model IEnumerable<CarDealership.Models.Vehicle>

@{
    ViewBag.Title = "Sales";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Sales</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Search Results</h2>
			@foreach (var vehicle in Model)
			{
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<p>
							@vehicle.Year
							@vehicle.VehicleModel.VehicleMake.VehicleMakeDescription
							@vehicle.VehicleModel.VehicleModelDescription
						</p>
						<p>Picture Goes Here!</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<p>Body Style: @vehicle.VehicleBody.VehicleBodyDescription</p>
						<p>Trans: @vehicle.Transmission.TransmissionType</p>
						<p>Color: @vehicle.VehicleColor</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<p>Interior: @vehicle.InteriorColor</p>
						<p>Mileage: @vehicle.Mileage </p>
						<p>VIN #: @vehicle.VinNumber</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="searchResultsNewVehicles">
						<p>Sale Price: @vehicle.SalePrice</p>
						<p>MSRP Price: @vehicle.MSRPPrice</p>
						<p><button class="btn btn-primary" id="adtn">Purchase</button></p>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Purchase Vehicle</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Sales Information</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				@*Need to make a form for this!!!*@
				<div>
					<p>Name</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>Email</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>Street 1</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>City</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>Zipcode</p>
					<input type="text" />
				</div>
				<br />
			</div>
			<div class="col-md-4">
				@*Need to make a form for this!!!*@
				<div>
					<p>Phone</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>PLACEHOLDER</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>Street 2</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>State</p>
					<input type="text" />
				</div>
				<br />
				<div>
					<p>PLACEHOLDER</p>
					<input type="text" />
				</div>
				<br />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr />
			<div class="col-md-4">
				<div>
					<p>Purchase Price</p>
					<input type="text" />
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<p>Purchase Type</p>
					<input type="text" />
					<br />
				</div>
				<br />
			</div>
		</div>
	</div>
	<div>
		<p><button class="btn btn-primary" id="adtn">Save</button></p>
	</div>
</div>
<script src="~/Scripts/JS for Views/Home_Sales.js"></script>

