@model TipCalculator.Models.TipData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tip</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
		<div class="col-xs-4">
			<h1>Calculate a Tip</h1>
			@using (Html.BeginForm())
			{
				<div class="form-group">
					@Html.LabelFor(m=>m.Total)
					@Html.TextBoxFor(m=>m.Total, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(m=>m.Percent)
					@Html.TextBoxFor(m => m.Percent, new { @class = "form-control"})
				</div>
				<div class="form-group">
					@Html.LabelFor(m=>m.Tip)
					@Html.TextBoxFor(m => m.Tip, new { @class = "form-control" })
				</div>
				<button class="btn btn-primary">Calculate</button>
			}
		</div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
